.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7.5px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px !important;
}

.btn-primary {
    @include buttonStyle($green)
}

.btn-forest {
    @include buttonStyle($forest);
}

.btn-danger {
    @include buttonStyle($maroon);
}

.btn-default {
    background-color: $white;
    border-color: $black;
    border-radius: 0;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        background-color: $gray;
    }
}

.no-style-btn {
    background: none;
    border: none;
    padding: 0;
    text-transform: none;
}