$hover: #03834f;
$ameo-brown: #ba6954;
$ameo-tan: #ede7df;
$apple: #a4d55d;
$black: #000;
$coal: #5d5b59;
$coffee: #31251c;
$forest: #00563f;
$green: #05ce7c;
$maroon: #9b004f;
$mocha: #706259;
$moss: #acc37e;
$peach: #f3bc7b;
$pink: #cd35af;
$purple: #873299;
$putty: #c1b8af;
$red: #dd0031;
$rust: #ba6954;
$sage: #a3d783;
$teal: #4bdbc3;
$yellow: #ffb819;
$ash: #d1d3d4;
$dark-gray: $ash;
$smoke: #e6e7e8;
$gray: $smoke;
$help: #0091ff;
$white: #ffffff;
$azure: #007398;
$sky: #2c8fde;
$xango: #f47d00;
$qivana: #c1d72e;
$charcoal: #313131;